<!-- <div class="intro_screen" ng-mousemove="animate_ir()">
    <div class="page_center">    
        <img class="intro_screen_ir_white " src="images/ir_logo_white.svg" >
        <img class="intro_screen_ir " src="images/ir_logo.svg" ng-click="close_intro()">
        <img class="intro_screen_ir_shadow" src="images/ir_logo_shadow.svg" >
    </div>
</div> -->
<div ng-include="'header.html'"></div>
<div id="main_contents" >
    <div class="three_column phone_full_screen">
        <div class="column_content">
            <div class="dark_header">Log In</div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-1 single_top phone_disappear">
                    <img src="images/secure_lock.png" >
                </div>
                <form name="login" ng-submit="submitLogin()" class="col-xs-12 col-sm-6 double_top" >
                    <div class="col-xs-12">
                        <h1 class="dark_header">Welcome</h1>
                    </div>
                    <br />
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12" data-toggle="tooltip" data-placement="top" title="i.e: SampleHost.com">Host:</div>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12 login_input"><input ng-model="loginVal.host" type="text-area" class="col-xs-12" data-toggle="tooltip" data-placement="top" title="i.e: SampleHost.com" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'" ></div>
                    <br>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12">Port:</div>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12 login_input"><input ng-model="loginVal.port" type="text-area" class="col-xs-12" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'"></div>
                    <br>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12">Zone Name:</div>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12 login_input"><input ng-model="loginVal.zone" type="text-area" class="col-xs-12" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'"></div>
                    <br>
                    <div class="col-xs-12">User Name:</div>
                    <div class="col-xs-12 login_input"><input ng-model="loginVal.userName" type="text-area" class="col-xs-12" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'"></div>
                    <br>
                    <div class="col-xs-12">Password:</div>
                    <div class="col-xs-12 login_input"><input ng-model="loginVal.password" type="password" class="col-xs-12" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'"></div>
                    <br>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12">Authentication:</div>
                    <div ng-show=" initialConfig.loginPresetEnabled == false " class="col-xs-12 login_input">
                        <select ng-model="loginVal.authType" class="col-xs-12" ng-attr="initialConfig.loginPresetEnabled == false ? '' : 'required'" >
                            <option value="STANDARD">Standard</option>
                            <option value="PAM">PAM</option>
                        </select>
                    </div>
                    <div class="col-xs-12"><button class="single_top btn btn-success pull-right" type="submit" prevent-default>Log In</button></div>
                </form>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>