<h1>THIS IS MY TEST BREH</h1>
<div class="form-signin" name="login" ng-controller="loginCtrl" >
                    <input ng-model="login.host" type="text" class="form-control" value="152.54.3.85" placeholder="{{ 'HOST'  }}" required autofocus>
                    <br><input ng-model="login.port" type="text" class="form-control" value="1247" placeholder="{{ 'PORT'   }}" required>
                    <br><input ng-model="login.zone" type="text" class="form-control" value="tempZone" placeholder="{{ 'ZONE'   }}" required>
                    <br><input ng-model="login.userName" type="text" class="form-control" placeholder="{{ 'USER_NAME'  }}" required>
                    <br><input ng-model="login.password" type="password" class="form-control" placeholder="{{ 'PASSWORD'   }}" required>
                    <select ng-model="login.authType" class="form-control" required >
                        <option value="STANDARD">Standard</option>
                        <option value="PAM">PAM</option>
                    </select>
                    <br><button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitLogin()" prevent-default>
                        {{ 'SIGN_IN'   }}</button>
                    <!--<label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>-->
                   

                </div>