# .gitignore for cloud browser

**/*.*~

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
**/*.war
**/dist
**/npm-debug.log*
# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
**/target
**/bin
# node modules
irods-cloud-frontend/node_modules/
irods-cloud-frontend/bower_components/
# other ide and cruft ignores
**/.DS_Store
**/.classpath
**/.project
**/.settings
**/.idea
**/.pmd
**/*.log
**/*.iml
**/target-eclipse
**/.metadata
**/.Servers
