<div ng-include="'header.html'"></div>
<div ng-include="'actions_pop_up.html'"></div>
<div ng-include="'side_nav.html'"></div>
<div id="main_contents" class="uncollapsed_main_contents"> 
	<div class="full_column">
		<div class="column_content">
			<div class="collection_header"> 
				<div id="breadcrumbs_container">
					<div class="breadcrumbs_container">
						<div class="breadcrumbs_sub_container col-xs-9" >

							<div class="dropdown" ng-show=" breadcrumb_compressed_array.length > 0 ">
							   	<div ng-mouseleave="hide_breadcrumbs()" type="button" class="dark_back_option_double dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							     ... 
							   </div>
							   <ul class="dropdown-menu">
								   	<li title="{{breadcrumb.b}}" ng-repeat="breadcrumb in breadcrumb_compressed_array">
								   		<a ng-click="goToBreadcrumb(breadcrumb.path)">
								   			>&nbsp;{{breadcrumb.b}}
								   		</a>
								   	</li>							     
							   </ul>
							</div>
						 
							<div ng-repeat="breadcrumb in breadcrumb_full_array_paths | limitTo:-5" ng-class="{'dark_back_option_double':!$last,'last_breadcrumb':$last}" title="{{breadcrumb.b}}" ng-click="goToBreadcrumb(breadcrumb.path)">
								<div ng-hide="$last == true">{{breadcrumb.b}}</div>
								 
							 	<div ng-show="$last == true" class="active_breadcrumb ">
							 		{{breadcrumb.b}}								 		
							 	</div>
								 									 
							</div>


						</div>	
						<div class="right col-xs-3 ">
							<div class="upload_button empty_star" title="Mark this file or folder as Starred" ng-show="dataProfile.starred!= true" ng-click="star_action()">
								<i class="fa fa-star-o folder_listing"></i><span>&nbsp;Star it!</span>	
							</div>
							<div class="upload_button full_star" title="Mark this file or folder as Starred" ng-show="dataProfile.starred == true" ng-click="unstar_action()">
								<i class="fa fa-star folder_listing"></i><span>&nbsp;Starred</span>
							</div>
						</div>			
					</div>					
				</div>
					
			</div>
			<div class="container">
				<div class="profile_header">
					<div class="profile_image">
			            <i ng-show="{{dataProfile.file}} == true" class="fa fa-file-o fa-6x"></i>  
				        <i ng-show="{{dataProfile.file}} == false" class="fa fa-folder fa-6x"></i>
					</div>
					<div class="profile_description" ng-show="{{dataProfile.file}} == false">
						<ul>
							<li>
								<b>Name:&nbsp;</b>{{dataProfile.childName}}
							</li>
							<li>
								<b>Created:&nbsp;</b>{{dataProfile.domainObject.createdAt  | date:"short"}}
							</li>
							<li>
								<b>Shared:&nbsp;</b>{{dataProfile.shared}}
							</li>
							<li>
								<b>Id:&nbsp;</b>{{dataProfile.domainObject.collectionId}}
							</li>
							<li>
								<b>Owner:&nbsp;</b>{{dataProfile.domainObject.collectionOwnerName}}
							</li>
						</ul>
					</div>
					<div class="profile_description" ng-show="{{dataProfile.file}} == true">
						<ul>
							<li>
								<b>Name:&nbsp;</b>{{dataProfile.childName}}
							</li>
							<li>
								<b>Created:&nbsp;</b>{{dataProfile.domainObject.createdAt | date:"short"}}
							</li>
							<li>
								<b>Last Updated:&nbsp;</b>{{dataProfile.domainObject.updatedAt  | date:"short"}}
							</li>
							<li>
								<b>Size:&nbsp;</b>{{dataProfile.domainObject.displayDataSize}}
							</li>
							<li>
								<b>Owner:&nbsp;</b>{{dataProfile.domainObject.dataOwnerName}}
							</li>
						</ul>
					</div>
					<div class="profile_description" ng-show="{{dataProfile.file}} == true">
						<ul>
							<li>
								<b>Data Object MIME Type:&nbsp;</b>{{dataProfile.mimeType}}
							</li>							
						</ul>
					</div>
				</div>
				<div class="profile_body">
					<div class="collection_header"> 
						<div class="breadcrumbs_container" >
							<div class="breadcrumbs_sub_container" >								
									 <div class="right t_right">
								 		<div class="btn btn-success " ng-click="go_back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</div>
								 	</div>
									 <div ng-show="dataProfile.file == true" class="dropdown">
									 	<div class="active_breadcrumb dropdown-toggle" type="button" id="actions_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 		Actions
									 		<div class="caret"></div>
									 	</div>									 	
									 	<ul class="dropdown-menu" aria-labelledby="actions_menu">
										   	<li><a title="Copy File" class="active_option" ng-click="copy_pop_up_open()"><i class="fa fa-clone folder_listing"></i><span>&nbsp;Copy</span></a></li>
										   	<li><a title="Move File" class="active_option" ng-click="move_pop_up_open()"><i class="fa fa-arrow-right folder_listing"></i><span>&nbsp;Move</span></a></li>
										   	<li><a title="Rename File" class="active_option" ng-click="rename_pop_up_open()"><i class="fa fa-i-cursor folder_listing"></i><span>&nbsp;Rename</span></a></li>
										   	<li><a title="Edit File" ng-class="dataProfile.mimeType == 'text/plain' || dataProfile.mimeType == 'application/xml' || dataProfile.mimeType == 'application/irods-rule' ? 'active_option' : 'inactive_option' " ng-click="editFile(dataProfile.domainObject.absolutePath)"><i class="fa fa-pencil folder_listing"></i><span>&nbsp;Edit</span></a></li>
										   	<li><a title="Download File" class="active_option" href='{{getDownloadLink()}}'><i class="fa fa-arrow-down folder_listing"></i><span>&nbsp;Download</span></a></li>
										   	<li><a title="Delete File" class="active_option" ng-click="delete_pop_up_open()"><i class="fa fa-remove folder_listing"></i><span>&nbsp;Delete</span></a></li>
									   </ul>
									 </div>

									 <div ng-show="dataProfile.file == false" class="dropdown">
									 	<div class="active_breadcrumb dropdown-toggle" type="button" id="folder_actions_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 		Actions
									 		<div class="caret"></div>
									 	</div>
									 	<ul class="dropdown-menu" aria-labelledby="folder_actions_menu">
									 		<li><a title="Download Folder" class="active_option" href='{{getDownloadLink()}}'><i class="fa fa-arrow-down folder_listing"></i><span>&nbsp;Download</span></a></li>
										   	<li><a title="Copy Folder" class="active_option" ng-click="copy_pop_up_open()"><i class="fa fa-clone folder_listing"></i><span>&nbsp;Copy</span></a></li>
										   	<li><a title="Move Folder" class="active_option" ng-click="move_pop_up_open()"><i class="fa fa-arrow-right folder_listing"></i><span>&nbsp;Move</span></a></li>
										   	<li><a title="Rename Folder" class="active_option" ng-click="rename_pop_up_open()"><i class="fa fa-i-cursor folder_listing"></i><span>&nbsp;Rename</span></a></li>
										   	<li><a title="Upload Folder" class="active_option" ng-click="upload_pop_up_open()"><i class="fa fa-arrow-up folder_listing"></i><span>&nbsp;Upload</span></a></li>
										   	<li><a title="Delete Folder" class="active_option" ng-click="delete_pop_up_open()"><i class="fa fa-remove folder_listing"></i><span>&nbsp;Delete</span></a></li>
									   </ul>
									 </div>								

							</div>			
						</div>		
					</div>

					
					<div class="tab"><h1>Metadata</h1></div>
					<div class="unactive_tab"><h1>Coming soon ...</h1></div>
					<div class="listing">
						<div class="light_big_header">								
							<div class="metadata_actions_container">
								
								<div class="rename_button" title="Delete selected metadata" ng-click='delete_metadata_pop_up()' > 
									<i class="fa fa-remove folder_listing"></i><span>&nbsp;Delete</span>	
								</div>
								<div class="rename_divider small_vertical_divider"></div>
								<div class="rename_button" title="Edit selected metadata" ng-click='edit_metadata_pop_up()' > 
									<i class="fa fa-pencil folder_listing"></i><span>&nbsp;Edit</span>	
								</div>
								<div class="rename_divider small_vertical_divider"></div>
								<div class="visible_button" title="Create a new metadata item" ng-click='add_metadata_pop_up()' > 
									<i class="fa fa-plus folder_listing"></i><span>&nbsp;Add</span>	
								</div>									
															
							</div>									
							
						</div>
						<div class="list_header">
					    	<div class="col-xs-4 list_content">        
				            	<span><b>Attribute</b></span>
				            </div>
				            <div class="col-xs-4 list_content ">
				            	<b>Value</b>
				            </div>
				            <div class="col-xs-4 list_content ">
				            	<b>Unit</b>
				            </div>
					    </div>
						<ul context-menu data-target="metadata_list_menu" ng-class="{ 'highlight': highlight, 'expanded' : expanded }" class="selectable general_list_item">
						    <li class="ui-widget-content ui-selectee metadata_item" ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="avu in available_metadata" on-last-repeat>
					            <span class="q_column metadata_attribute">{{avu.avuAttribute}}</span><span class="q_column metadata_value">{{avu.avuValue}}</span><span class="q_column metadata_unit">{{avu.avuUnit}}</span>
						    </li>
						</ul>
					</div>



				</div>
			</div>
		</div>
	</div>
</div>


<div context-menu class="panel panel-default position-fixed"
     data-target="menu-{{ $index }}"
     ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
  ...
</div>

<div class="dropdown position-fixed" id="metadata_list_menu">
  <ul class="dropdown-menu" role="menu">
    <li>
      <button class="visible_button context_button" title="Create a new metadata item" ng-click='add_metadata_pop_up()'> 
      	<i class="fa fa-plus folder_listing"></i><span>&nbsp;Add</span>	
      </button>
    </li>
    <li>
      <button class="rename_button context_button" title="Edit selected metadata" ng-click='edit_metadata_pop_up()' > 
      	<i class="fa fa-pencil folder_listing"></i><span>&nbsp;Edit</span>	
      </button>
    </li>
    <li>
      <button class="rename_button context_button" title="Delete selected metadata" ng-click='delete_metadata_pop_up()' > 
      	<i class="fa fa-remove folder_listing"></i><span>&nbsp;Delete</span>	
      </button>
    </li>    
  </ul>
</div>






