<div class="pop_up_window">
  <div class="three_column centered">

    <!--********************************
    **********    UPLOADER    **********
    *********************************-->

    <div class="column_content uploader pop_up_content">
      <div class="light_header"><i class="fa fa-arrow-up folder_listing"></i><span>Uploading files to {{upload_folder_name}}</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="upload_container">
        <br>
        Choose the file(s) you wish to upload.<br>
        <div class="btn btn-default btn-xs" ngf-select ngf-change="stage_files($files)" ngf-multiple="multiple">Browse Files</div>
      </div>
      <div class="upload_container_result">
        <ul></ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="right container t_right">
          <div class="btn btn-success" ng-click="upload(upload_path)">Upload Now</div>
        </div>
        <div class="container"><hr class="hr_flat"></div>
        <div class="container">You can also&nbsp;<div class="btn btn-default btn-xs" ngf-select ngf-change="stage_files($files)" ngf-multiple="multiple">Browse More Files</div>
        </div>
      </div>   
    </div>

    <!--********************************
    **********    DELETER    ***********
    *********************************-->

    <div class="column_content deleter pop_up_content">
      <div class="delete_header"><i class="fa fa-remove folder_listing"></i><span>&nbsp;Are you sure you want to DELETE the following:</span><i class="fa fa-times-circle fa-lg right dark" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="delete_container">
        <br>
        <ul></ul>

        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          Yes, I'm sure.&nbsp;<div class="btn btn-danger" ng-click="delete_action()">Delete</div>
        </div>
      </div>
    </div>


    <!--********************************
    *******    QUERY DELETER    ********
    *********************************-->

    <div class="column_content query_deleter pop_up_content">
      <div class="delete_header"><i class="fa fa-remove folder_listing"></i><span>&nbsp;Are you sure you want to DELETE the following:</span><i class="fa fa-times-circle fa-lg right dark" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="query_delete_container">
        <br>
        <ul></ul>

        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          Yes, I'm sure.&nbsp;<div class="btn btn-danger" ng-click="query_delete_action()">Delete</div>
        </div>
      </div>
    </div>

    <!--********************************
    ***********    COPIER    ***********
    *********************************-->

        <div class="column_content pop_up_content copier">
          <div class="light_big_header copier">      
            <span><i class="fa fa-clone folder_listing"></i>&nbsp;Copying to:&nbsp;<span class="copy_select_result"></span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></span>
          </div>

          <div class="breadcrumbs_container">
            <div class="breadcrumbs_container" ng-show="copyVC.data.type == 'COLLECTION'">
              <div class="breadcrumbs_sub_container">

                <div class="dropdown" ng-show="breadcrumb_popup_compressed_array.length > 0 ">
                  <div ng-mouseleave="hide_breadcrumbs()" type="button" class="dark_back_option_double dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     ... 
                  </div>
                  <ul class="dropdown-menu">
                    <li title="{{breadcrumb.b}}" ng-repeat="breadcrumb in breadcrumb_popup_compressed_array">
                      <a ng-click="copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path)">
                        >&nbsp;{{breadcrumb.b}}
                      </a>
                    </li>                  
                  </ul>
                </div>
                <div ng-class="{'dark_back_option_double':!$last,'last_breadcrumb':$last}" title="{{breadcrumb.b}}" ng-click="$last == true ? '' : copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path)"  ng-repeat="breadcrumb in breadcrumb_popup_full_array_paths | limitTo:-5">
                   <div ng-hide="$last == true">{{breadcrumb.b}}</div>  
                   <div ng-show="$last == true" class="active_breadcrumb">
                    {{breadcrumb.b}}
                  </div>    
                </div>

              </div>      
            </div>                    
          </div> 
          <div class="listing">
            <div class="list_header">
              <div class="col-xs-7 list_content">        
                <span><b>Name</b></span>
              </div>
              <div class="col-xs-3 list_content text-right tablet_disappear">
                <b>Last Modified</b>
              </div>
            </div>  
               
            <ul class="selectable copy_listing">
                <li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} copy_list_item ui-selectee" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-dblclick="copy_list_refresh(copyVC.data.uniqueName,collectionAndDataObject.formattedAbsolutePath)" ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.data.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
                        <div class="col-xs-10 col-sm-10 col-md-7 col-lg-7 list_content">
                          <i class="fa fa-folder folder_listing"></i>          
                          <span class="collection_object">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
                        </div>
                        <div class="col-xs-3 list_content text-right">
                          <p>{{collectionAndDataObject.modifiedAt | date:"short"}}</p>
                        </div>
                  </li>             
            </ul>
          </div>
          <div class="container"><hr class="hr_flat"></div>
          <div class="right t_right">
            <div class="btn btn-success copier_button" ng-click="copy_action()">Copy</div>
          </div>
        </div>
      

      <!--********************************
      ***********    MOVER    ************
      *********************************-->
      
        <div class="column_content pop_up_content mover">
          <div class="light_big_header mover">      
            <span><i class="fa fa-arrow-right folder_listing"></i>&nbsp;Moving to:&nbsp;<span class="copy_select_result"></span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></span>
          </div>
          <div class='collection_header'>
            <div class="breadcrumbs_container" ng-show="copyVC.data.type == 'COLLECTION'">
              <div class="breadcrumbs_sub_container">

                <div class="dropdown" ng-show="breadcrumb_popup_compressed_array.length > 0 ">
                  <div ng-mouseleave="hide_breadcrumbs()" type="button" class="dark_back_option_double dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     ... 
                  </div>
                  <ul class="dropdown-menu">
                    <li title="{{breadcrumb.b}}" ng-repeat="breadcrumb in breadcrumb_popup_compressed_array">
                      <a ng-click="copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path)">
                        >&nbsp;{{breadcrumb.b}}
                      </a>
                    </li>                  
                  </ul>
                </div>
                <div ng-class="{'dark_back_option_double':!$last,'last_breadcrumb':$last}" title="{{breadcrumb.b}}" ng-click="$last == true ? '' : copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path) "  ng-repeat="breadcrumb in breadcrumb_popup_full_array_paths | limitTo:-5">
                   <div ng-hide="$last == true">{{breadcrumb.b}}</div>  
                   <div ng-show="$last == true" class="active_breadcrumb">
                    {{breadcrumb.b}}
                  </div>    
                </div>

              </div>      
            </div>  
          </div>   
          <div class="listing"> 
            <div class="list_header">
              <div class="col-xs-7 list_content">        
                <span><b>Name</b></span>
              </div>
              <div class="col-xs-3 list_content text-right tablet_disappear">
                <b>Last Modified</b>
              </div>
            </div>      
            <ul class="selectable move_listing">
                <li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} move_list_item ui-selectee" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-dblclick="copy_list_refresh(copyVC.data.uniqueName,collectionAndDataObject.formattedAbsolutePath)" ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.data.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
                        <div class="col-xs-10 col-sm-10 col-md-7 col-lg-7 list_content">
                          <i class="fa fa-folder folder_listing"></i>         
                          <span class="collection_object">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
                        </div>
                        <div class="col-xs-3 list_content text-right">
                          <p>{{collectionAndDataObject.modifiedAt | date:"short"}}</p>
                        </div>
                  </li>             
            </ul>
          </div>
          <div class="container"><hr class="hr_flat"></div>
          <div class="right t_right">
            <div class="btn btn-success mover_button" ng-click="move_action()">Move</div>
          </div>
        </div>
        
      

      <!--********************************
      ********    PATH PICKER    *********
      *********************************-->
      
        <div class="column_content pop_up_content path_picker">
          <div class="light_big_header path_picker">      
            <span><i class="fa fa-folder-open"></i>&nbsp;Search in:&nbsp;<span class="copy_select_result"></span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></span>
          </div>
          <div class='collection_header'>
            <div class="breadcrumbs_container" ng-show="copyVC.data.type == 'COLLECTION'">
              <div class="breadcrumbs_sub_container">

                <div class="dropdown" ng-show="breadcrumb_popup_compressed_array.length > 0 ">
                  <div ng-mouseleave="hide_breadcrumbs()" type="button" class="dark_back_option_double dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     ... 
                  </div>
                  <ul class="dropdown-menu">
                    <li title="{{breadcrumb.b}}" ng-repeat="breadcrumb in breadcrumb_popup_compressed_array">
                      <a ng-click="copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path)">
                        >&nbsp;{{breadcrumb.b}}
                      </a>
                    </li>                  
                  </ul>
                </div>
                <div ng-class="{'dark_back_option_double':!$last,'last_breadcrumb':$last}" title="{{breadcrumb.b}}" ng-click="$last == true ? '' : copy_list_refresh(copyVC.data.uniqueName,breadcrumb.path);set_path(breadcrumb.b,breadcrumb.path) "  ng-repeat="breadcrumb in breadcrumb_popup_full_array_paths | limitTo:-5">
                   <div ng-hide="$last == true">{{breadcrumb.b}}</div>  
                   <div ng-show="$last == true" class="active_breadcrumb">
                    {{breadcrumb.b}}
                  </div>    
                </div>

              </div>      
            </div>  
          </div>   
          <div class="listing"> 
            <div class="list_header">
              <div class="col-xs-7 list_content">        
                <span><b>Name</b></span>
              </div>
              <div class="col-xs-3 list_content text-right tablet_disappear">
                <b>Last Modified</b>
              </div>
            </div>      
            <ul class="selectable move_listing">
                <li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} move_list_item ui-selectee" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-dblclick="copy_list_refresh(copyVC.data.uniqueName,collectionAndDataObject.formattedAbsolutePath)" ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.data.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
                        <div class="col-xs-10 col-sm-10 col-md-7 col-lg-7 list_content">
                          <i class="fa fa-folder folder_listing"></i>        
                          <span class="collection_object">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
                        </div>
                        <div class="col-xs-3 list_content text-right">
                          <p>{{collectionAndDataObject.modifiedAt | date:"short"}}</p>
                        </div>
                  </li>             
            </ul>
          </div>
          <div class="container"><hr class="hr_flat"></div>
          <div class="right t_right">
            <div class="btn btn-success path_picker_button" ng-click="path_pick_action()">Choose</div>
          </div>
        </div>
        
      

      <!--********************************
      ***********    CREATER    **********
      *********************************-->

    <div class="column_content creater pop_up_content">
      <div class="light_header"><i class="fa fa-folder folder_listing"></i><span>&nbsp;Adding sub-folder to {{pagingAwareCollectionListing.pagingAwareCollectionListingDescriptor.pathComponents[current_collection_index]}}</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="add_container">
        <br>
        <ul>
          <li><b>New folder name</b></li>
          <li><input type="text" id="new_collection_name" value=""/>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="create_collection_action()">Create</div>
        </div>
      </div>
    </div>

      <!--********************************
      *********   FILE CREATER   *********
      *********************************-->

    <div class="column_content file_creater pop_up_content">
      <div class="light_header"><i class="fa fa-{{file_to_be_created.templateName|iconic}} folder_listing"></i><span>&nbsp;New {{file_to_be_created.templateName}}</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="add_container">
        <br>
        <ul>
          <li><b>Name</b></li>
          <li><input type="text" id="new_file_name" value=""/>
          <li><span class="foot_note">*Please make sure to include a file extension ( example<b>.txt</b> )</span></li>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="create_file_action()">Create</div>
        </div>
      </div>
    </div>

    <!--********************************
    ***********    RENAMER    **********
    *********************************-->


    <div class="column_content renamer pop_up_content">
      <div class="light_header"><i class="fa fa-i-cursor folder_listing"></i><span>&nbsp;Renaming</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="rename_container">
        <br>
        <ul>
          <li >You are renaming <b><span class="selected_object"></span></b> to:</li>
          <li ><input type="text" id="new_renaming_name" value=""/></li>
          <li ng-show="renaming_item == 'file'"><span class="foot_note">*If you are renaming a DATA OBJECT please make sure to include the DATA OBJECT extension (i.e. sample<b>.txt</b>)</span></li>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <button class="btn btn-success" ng-click="rename_action()">Rename</button>
        </div>
      </div>
    </div>

    <!--********************************
    **********    METADATA    **********
    ***********    ADDER    ************
    *********************************-->

    <div class="column_content metadata_adder pop_up_content">
      <div class="light_header"><i class="fa fa-plus folder_listing"></i><span>&nbsp;Metadata: ADD</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="metadata_add_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          <li ><b>* Attribute</b></li>
          <li ><input type="text" id="new_metadata_attribute" class="col-xs-12" value=""/>
          <li class="foot_note">* Required</li>
          <br>
          <li ><b>* Value</b></li>
          <li ><input type="text" id="new_metadata_value" class="col-xs-12" value=""/>
          <li class="foot_note">* Required</li>
          <br>
          <li ><b>Unit</b></li>
          <li ><input type="text" id="new_metadata_unit" class="col-xs-12" value=""/>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="metadata_add_action()">Add</div>
        </div>
      </div>
    </div>

    <!--********************************
    **********    METADATA    **********
    **********    DELETER    ***********
    *********************************-->

    <div class="column_content metadata_deleter pop_up_content">
      <div class="delete_header"><i class="fa fa-remove folder_listing"></i><span>&nbsp;Metadata: DELETE</span><i class="fa fa-times-circle fa-lg right dark" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="metadata_delete_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-danger" ng-click="metadata_delete_action()">DELETE</div>
        </div>
      </div>
    </div>

    <!--********************************
    **********    METADATA    **********
    ***********    EDITOR    ***********
    *********************************-->

    <div class="column_content metadata_editor pop_up_content">
      <div class="light_header"><i class="fa fa-pencil folder_listing"></i><span>&nbsp;Metadata: Edit</span><i class="fa fa-times-circle fa-lg right" title="close window" ng-click="pop_up_close()"></i></div>
      
      <div class="metadata_add_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          <li ><b>Attribute</b></li>
          <li ><input type="text" id="edit_metadata_attribute" class="col-xs-12" value=""/>
          <li class="foot_note">* Required</li>
          <br>
          <li ><b>Value</b></li>
          <li ><input type="text" id="edit_metadata_value" class="col-xs-12" value=""/>
          <li class="foot_note">* Required</li>
          <br>
          <li ><b>Unit</b></li>
          <li ><input type="text" id="edit_metadata_unit" class="col-xs-12" value=""/>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="metadata_edit_action()">Edit</div>
        </div>
      </div>
    </div>
  </div>
</div>