<div id="side_nav" class="collapsed_nav" ng-mouseover="side_nav_autotoggle('on')" ng-mouseleave="side_nav_autotoggle('off')">
	<div class="side_nav_toggle_button" ng-click="side_nav_toggle()">>></div>
	<ul class="side_nav_options">
		<li ng-click="selectHierView()" class="dark_back_option_double"><img src="images/hier_browsing_icon.png"><span>Hierarchical Browse</span></li>
		<li ng-click="selectGalleryView()" class="dark_back_option_double"><img src="images/hier_browsing_icon.png"><span>Gallery Browse</span></li>
	</ul>
</div>