html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: sans-serif;
  list-style: none;
}
body{
	background: #333;
}
.light_hr {
	margin:0px;
	border-top: 1px solid #eee;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||||||||  NAV STYLES ||||||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.powered_by{
	position: absolute;
	z-index: 12;
	bottom: 0px;
	right: 0px;
}
/* ||||||||||||||||||||||||||||||||||| */
/* ||||||||| SIDE NAV STYLES ||||||||| */
/* ||||||||||||||||||||||||||||||||||| */
#side_nav{	
	height:100%;
	position:relative;
	float: left;
	color:#fff;
	padding: 50px 0px 0px 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.side_nav_toggle_button{
	padding: 0px 10px 4px;
	border-bottom: 1px solid rgba(255,255,255,0.2)
}
.side_nav_toggle_button:hover{
	background: rgba(255,255,255,0.2);
}
.side_nav_options{
	overflow: hidden;
	opacity: 0;
}
.single_top{
	margin-top: 20px;
}
.double_top{
	margin-top: 40px;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||| COLOR THEME ELEMENTS ||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.selectable .ui-selecting { background: #08889B !important; }
.selectable .ui-selected { background: #00A9C2 !important; color: white; }
.main_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	min-height:300px;
	height: 100%;
	width:100%;
}
.column_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	padding: 5px;
	min-height:300px;
	height: 100%;
	width:100%;
}
.slim_column_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	margin: 5px 0px 0px 0px;
	padding: 5px;
	height: 100%;
	width:100%;
}
.metadata_actions_container{
	position: relative;
  	height: 35px;
  	margin: 11px;
  	border: 1px solid #00A9C2;
  	border-radius: 4px;
}
.drop_box{
	position: relative;
	width: 100%;
	border: 2px solid #00A9C2;
	margin: 10px 0px;
	height:170px;
	text-align: center;
	vertical-align: middle;
	color:#dddddd;
	font-size: 30px;
}
.green_toggle_container{
	background: #00A9C2;
	padding: 5px 10px 0px;
	margin:0px 0px 5px 0px;
	display: inline-block;
	width: 100%;
}
.light_back_option.selected,.light_back_option_even.selected{
	color:#fff;
	opacity:1;
	background: #00A9C2;
}
.themed_header{
	color: #fff;
	background: #00A9C2;
	border-top: 0px;
	text-align: left;
	padding: 7px 0px 0px 15px;
	font-size: 16px;
	font-weight: bold;
	height:35px;
	z-index: 10;
}
.list_group_header{
	background: #00A9C2;
	color:#fff;
}
.green_nav{
	background: #00A9C2;
	position: absolute;
	z-index: 2;
	min-width: 100%;
}
.green_toggle_container:hover{
	background: #08889B;
}
.green_toggle_container_open{
	border:1px solid #08889B;
	background: #fff;
}
.green_toggle_container_open:hover{
	border:1px solid #08889B;
	background: #fff;
}
.green_toggle_container_open .green_title{
	color:#08889B;
}
select{
	border:1px 
	solid #ccc;
	background:#fff;
	border-radius:1px;
}
/* ||||||| BOOTSTRAP RE-THEMING |||||| */
.btn-success{
	background-color: #009550;
    border-color: #4cae4c;
}
.btn-success:hover{
	background-color: #33B44A;
}
.btn-danger{
	background-color: #C25555;
    border-color: #A14645;
}
.btn-danger:hover{
	background-color: #F15D56;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||| MAIN CONTAINERS STYLES ||||| */
/* ||||||||||||||||||||||||||||||||||| */
.beta_label{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:20;
	pointer-events:none;
	background: url('../images/beta2.png');
}
.app_container{
	height:100%;
}
#main_contents{
	background:#CFD0CC;
	display: inline-block;
	min-height:100vh;
	padding: 5px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main_wrapper{
	background: #384B50;
	padding:0px;
	width:100%;
	height:100%;
	position: relative;
	float: left;
	min-width: 1200px;
}
.four_column{
	padding: 53px 5px 35px 5px;
	position: relative;
	float: left;
	width:80%;
}
.full_column{
	padding: 53px 5px 35px 5px;
	position: relative;
	float: left;
	width:100%;
}
.three_column{
	padding: 53px 5px 35px 5px;
	position: relative;
	float: left;
	width:60%;
}
.one_column{
	padding: 53px 5px 35px 5px;
	position: relative;
	float: left;
	width: 20%;
}
.q_column{
	width:33%;
	position: relative;
	display: inline-block;
}

.metadata_item{
	padding: 0px;
}
.metadata_item .q_column{
	width:33%;
	height: 30px;
	padding: 7px 15px;
	position: relative;
	display: inline-block;
}

#breadcrumbs_container{
	position:relative;
	display:inline-block;
	float: left;
	padding: 0px;
	overflow: hidden;
}
.breadcrumbs_sub_container{
	position:relative;
	min-width:100%;
	float:right;
	white-space: nowrap;
}
.upload_button{
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.8;
	width: 75px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 21px;
	margin: 0px 5px;
}
.create_subcollection_button{
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.8;
	width: 150px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 21px;
	margin: 0px 5px;
}
.copier{
	display: none;
	padding: 5px;
}
.copier_button{
	display: none;
}
.mover{
	display: none;
	padding: 5px;
}
.mover_button{
	display: none;
}
.uploader{
	display: none;
}
.deleter{
	display: none;
}
.creater{
	display: none;
}
.renamer{
	display: none;
}
.metadata_adder{
	display: none;
}
.metadata_deleter{
	display: none;
}
.metadata_editor{
	display: none;
}
.metadata_button{
	padding: 4px 0px 0px 7px;
}
.metadata_button img{
	padding: 0px 7px 0px 0px;
}
.small_vertical_divider{
	background: #fff;
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.5;
	width:1px;
	height: 21px;
}
.upload_container_result{
	display: none;
}
.empty_selection{
	color:#262626;
	font-weight: 400;
  	padding: 0px 0px 0px 10px;
}
.upload_button:hover{
	background: rgba(0,0,0,0.4);
	opacity:1;
}
.create_subcollection_button:hover{
	background: rgba(0,0,0,0.4);
	opacity:1;
}
.tablet_download_button{
	display: none;
}
.tablet_rename_button{
	display: none;
}
.download_button,.rename_button{
	position:relative;
	display:none;
	float: right;
	opacity: 0.8;
	width: 85px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 21px;
	float:right;
	margin: 0px 5px;
}
.download_button:hover,.rename_button:hover{
	background: rgba(0,0,0,0.4);
	opacity:1;
}
.rename_divider{
	display: none;
}
.download_divider{
	display: none;
}
.single_action{
	display: none;
}
.pop_up_close_button{
	opacity: 0.5;
}
.pop_up_close_button:hover{
	opacity: 1;
}
#profile_title_container{
	position:relative;
	display:inline-block;
	float: left;
}
.list_content{
	overflow: hidden;
	padding: 0px;
	height:20px;
}
.list_content p {
	padding: 2px 5px;
}
.profile_description{
	position: relative;
	float: left;
	border-left: 1px solid #999;
	padding: 0px 10px;
	font-size: 12px;

}
.profile_image{
	position: relative;
	float: left;
	padding: 0px 10px 0px 3px;
}
.profile_header{
	position: relative;
	display: inline-block;
	width:100%;
}
.profile_body{
	position: relative;
	display: inline-block;
	width:100%;
}
.green_title{
	color:#fff;
	height:20px;
	font-size: 14px;
	line-height: 14px;
}
.green_content{
	display: none;
	border-top:1px solid #999;
	font-size: 12px;
	width: 100%;
}
.pop_up_window{
	position:absolute;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	display: none;
	background: rgba(0,0,0,0.8);
	z-index: 14;
}
.intro_screen{
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: 5;
	 background: #fff;
}
.intro_screen_ir{
	position: absolute;
	z-index: 3;
	width:100px;
}
.intro_screen_ir_white{
	position: absolute;
	z-index: 2;
	width:100px;
}
.intro_screen_ir_shadow{
	position: absolute;
	z-index: 1;
	width:100px;
}
.page_center{
	position: absolute;
	top:50%;
	left:50%;
	width: 1px;
	height: 1px;
}
.border_left{
	border-left: 1px solid #999;
}
.disc_text{
	font-size: 11px;
	color: #888;
}
/* ||||||||||||||||||||||||||||||||||| */
/* ||||||| BOOTSTRAP RE-STYLING |||||| */
/* ||||||||||||||||||||||||||||||||||| */
input.col-xs-12{
	padding: 0px 2px;
}
.list-group{
	margin: 10px;
}
.col-xs-6, .col-xs-4{
	padding:0px;
}
.navbar-brand{
	padding: 15px 0px 0px 0px;
}

.list_group_header{
	pointer-events: none;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||||| POSITIONING STYLES ||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.centered{
	margin: 0 auto;
	float:none;
}
.right{
	position: relative;
	float: right;
}
.border_left{
    border-left: 2px solid rgba(255,255,255,0.5);
}
.left{
	position: relative;
	float: left;
}
.container{
	width: 100%;
	padding: 5px 0px 0px 0px;
	display: inline-block;
}
.t_right{
	text-align: right;
}
.hr_flat{
	margin: 0px;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||| BUTTONS AND OPTIONS STYLES ||| */
/* ||||||||||||||||||||||||||||||||||| */
.desktop_collection_actions{
	display: block;
}
.tablet_collection_actions{
	display: none;
}
.dark_back_option_double{
	color:#fff;
	opacity:0.7;
	height:40px;
	padding: 7px 2px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	white-space: nowrap;
	cursor: pointer;
}
.dark_back_option_double span{
	padding: 2px 7px;
	font-size: 14px;
	position: absolute;
}
.dark_back_option_double img{
	padding: 0px 0px 0px 7px;
}
.dark_back_option_double:hover{
	color:#fff;
	opacity:1;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.dark_back_option_double.logout{
	color:#fff;
	opacity:0.7;
	height: 26px;
    padding: 0px 8px;
    margin: 12px 0px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	border: none;
}
.dark_back_option_double.logout:hover{
	color:#fff;
	opacity:1;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.light_back_option{
	color:#000;
	opacity:0.7;
	height:20px;
	margin: 2px 0px;
	font-size: 12px;
	list-style: none;
}
.list_header{
	height: 25px;
    border-bottom: 1px solid #ddd;
    pointer-events: none;
}
.light_back_option_even{
	color:#000;
	background: rgba(0,0,0,0.1);
	opacity:0.7;
	height:20px;
	margin: 2px 0px;
	font-size: 12px;
	list-style: none;
}
.light_back_option:hover,.light_back_option_even:hover{
	color:#fff;
	opacity:1;
	background: rgba(0,0,0,0.3);
}
.light_back_option span, .light_back_option_even span{
	padding: 2px;
	position: absolute;
}
.ui-widget-content.light_back_option, .ui-widget-content.light_back_option_even{
	cursor:pointer;
}
.dark_toggle_button{
	opacity:0.7;
	height:22px;
	width: 20px;
	cursor: pointer;
}
.dark_toggle_button:hover{
	opacity:1;
	width: 20px;
	cursor: pointer;
}
.dark_header{
	color: #fff;
	background: #384B50;
	text-align: left;
	padding: 7px 0px 0px 15px;
	font-size: 16px;
	font-weight: bold;
	height:35px;
	z-index: 10;
}
.light_header{
	color: #384B50;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height:27px;
	border-bottom:1px solid #C7C9C7; 
}
.delete_header{
	color: #C93C3C;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height:27px;
	border-bottom:1px solid #C7C9C7; 
}
.deleter{
	padding: 5px 5px 39px 5px;
}
.copier_wrap{
	min-height:100px;
	height:100px;
}
.mover_wrap{
	min-height:100px;
	height:100px;
}
.light_header span{
	position: absolute;
	line-height: 19px;
	padding: 0px 3px;
}
.collection_actions_container{
	overflow: hidden;
	height: 22px;
}
.grid-item { 
	float: left;
	width: 100px;
 	padding: 5px;
}
.tablet_appear{
	display: none;
}
.collapsed_nav{
	width:3%;
}
.uncollapsed_nav{
	width:18%;
}
.collapsed_main_content{
	width:96.9%;
}
.uncollapsed_main_content{
	width:81.9%;
}
/******************************************************************************

                                 BEGIN MEDIA QUERIES

*******************************************************************************/


/* Small devices (tablets, 600px and up) */
@media screen and (max-width: 1199px){
.light_back_option{
	color:#000;
	opacity:0.5;
	height:30px;
	margin: 2px 0px;
	font-size: 15px;
	list-style: none;
}
.collection_actions_container{
	overflow: initial;
}
.list_content{
	height:25px;
}
.login_input{
	line-height: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
.login_input select {
        height:40px;
        line-height:40px;
        background:#fff;
    } 
}
.login_input select::-moz-focus-inner { 
    padding: 0;
}
@-moz-document url-prefix() { 
.login_input select {
        padding: 15px 0!important;
    }
}
.light_back_option_even{
	color:#000;
	background: rgba(0,0,0,0.1);
	opacity:0.5;
	height:30px;
	margin: 2px 0px;
	font-size: 15px;
	list-style: none;
}
.main_wrapper{
	background: #384B50;
	padding:0px;
	width:100%;
	position: relative;
	float: left;
	min-width: 100%;
}
.desktop_collection_actions{
	display: none;
}
.tablet_collection_actions{
	display: block;
}
.collapsed_nav{
	width:4.4%;
}
.uncollapsed_nav{
	width:18%;
}
.collapsed_main_content{
	width:95.5%;
}
.uncollapsed_main_content{
	width:81.9%;
}

}


/* Small devices (tablets, 600px and up) */
@media screen and (max-width: 991px){
.tablet_appear{
	display:block;
}
.tablet_disappear{
	display:none;
}
.collapsed_nav{
	width:5.4%;
}
.uncollapsed_nav{
	width:23%;
}
.collapsed_main_content{
	width:94.5%;
}
.uncollapsed_main_content{
	width:76.9%;
}
.main_list{
	width:100%;
}
.green_toggle_container{
	padding:10px 10px 5px;
}

}


/* Small devices (tablets, 600px and up) */
@media screen and (max-width: 767px){
.phone_disappear{
	display: none;
}
.collapsed_nav{
	width:7.4%;
}
.uncollapsed_nav{
	width:27%;
}
.collapsed_main_content{
	width:92.5%;
}
.uncollapsed_main_content{
	width:72.9%;
}

}


/* Small devices (tablets, 600px and up) */
@media screen and (max-width: 450px){

.phone_full_screen{
	width: 100%;
}
.collapsed_nav{
	width:9.4%;
}
.uncollapsed_nav{
	width:18%;
}
.collapsed_main_content{
	width:96.9%;
}
.uncollapsed_main_content{
	width:81.9%;
}

}












