html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: sans-serif;
  list-style: none;
}
body{
	background: #EAEAEA;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main_contents{
	position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.uncollapsed_main_contents{
	margin:0px 0px 0px 3%;
}
.collapsed_main_contents{
	margin:0px 0px 0px 18%;
}
.light_hr {
	margin:0px;
	border-top: 1px solid #eee;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||||||||  NAV STYLES ||||||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.powered_by{
	position: fixed;
	z-index: 12;
	bottom: 0px;
	right: 0px;
}
.side_nav_options{
	overflow: hidden;
	opacity: 0;
}
.single_top{
	margin-top: 20px;
	text-align: right;
}
.double_top{
	margin-top: 40px;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||| COLOR THEME ELEMENTS ||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.main_logo{
	background: url("../images/beta_test_logo.png");/* For best results plese use an image with 36px of height */
	display: block;
	height: 36px;
	width:143px;
}
.dark{
	color:#384B50;
}
.listing{
	background: #fff;
	border: 2px solid #00A9C2;
	padding: 4px;
}
.text_body{
	background: #fff;
	border: 2px solid #00A9C2;
	padding: 4px;
	width: 100%;
	height: 500px;
	position: relative;
	float: left;
}
.rule_body{
	background: #fff;
	border-left: 2px solid #00A9C2;
	border-right: 2px solid #00a9c2;
	border-top: 2px solid #00a9c2;
	padding: 4px;
	width: 100%;
	height: 90%;
}
.rule_actions{
	background: #fff;
	border-top: 1px solid #00A9C2;
	border-left: 2px solid #00A9C2;
	border-right: 2px solid #00a9c2;
	border-bottom: 2px solid #00a9c2;
	padding: 3px;
	width: 100%;
	height: 7%;
}
.selectable .ui-selecting{ 
	background: #08889B !important;
}
.selectable .ui-selected{ 
	background: #00A9C2 !important; color: white;
}
.light_back_option.selected,.light_back_option_even.selected{
	color:#fff;
	opacity:1;
	background: #00A9C2;
}
.main_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	min-height:300px;
	height: 100%;
	width:100%;
}
.column_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	padding: 5px;
	height: 100%;
	width:100%;
}
.slim_column_content{
	border-top:2px solid #00A9C2;
	background: #fff;
	margin: 5px 0px 0px 0px;
	padding: 5px;
	height: 100%;
	width:100%;
}
.drop_box{
	position: relative;
	width: 100%;
	border: 2px solid #00A9C2;
	margin: 10px 0px;
	height:170px;
	text-align: center;
	vertical-align: middle;
	color:#dddddd;
	font-size: 30px;
}
.color_header{
	color: #fff;
	background: #00A9C2;
	text-align: left;
	padding: 7px 0px 0px 15px;
	font-size: 16px;
	font-weight: bold;
	height:35px;
	z-index: 10;
}
.green_toggle_container{
	background: #00A9C2;
	padding: 5px 10px 0px;
	margin:0px 0px 5px 0px;
	display: inline-block;
	width: 100%;
}
.dark_header{
	color: #fff;
	background: #384B50;
	text-align: left;
	padding: 7px 0px 0px 15px;
	font-size: 16px;
	font-weight: bold;
	height:35px;
	z-index: 10;
}
.themed_header{
	color: #fff;
	background: #00A9C2;
	border-top: 0px;
	text-align: left;
	padding: 5px 0px 0px 15px;
	margin:0px 0px 7px 0px;
	font-size: 16px;
	font-weight: bold;
	height:35px;
	z-index: 10;
}
.small_themed_header{
	color: #fff;
    background: #00A9C2;
    text-align: left;
    padding: 2px 0px 0px 15px;
    font-size: 16px;
    font-weight: normal;
    height: 25px;
    z-index: 10;
}
.list_group_header{
	background: #00A9C2;
	color:#fff;
}
.upper_main_nav{
	background: #00A9C2;
	position: relative;
	z-index: 2;
	min-width: 100%;
}
.green_toggle_container:hover{
	background: #08889B;
}
.green_toggle_container_open{
	border:1px solid #08889B;
	background: #fff;
}
.green_toggle_container_open:hover{
	border:1px solid #08889B;
	background: #fff;
}
.green_toggle_container_open .green_title{
	color:#08889B;
}
.tab{
	color: #fff;
    background: #00A9C2;
    border: 2px solid #00A9C2;
    border-radius: 4px 4px 0px 0px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    cursor: default;
}
.dropdown-menu{
	border: 1px solid #777;
	border-top: 2px solid #00A9C2;
	box-shadow: 0 3px 10px rgba(0,0,0,.6);
	margin:-1px 0px 0px 0px;
}
#side_nav{	
	height:100%;
	background: #333;
	float: left;
    padding: 50px 0px 0px 5px;
    position: fixed;
	color:#fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.side_nav_toggle_button{
	color:#777;
	padding: 5px 8px 5px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-top: 1px solid rgba(255,255,255,0.2);
}
.side_nav_toggle_button:hover{
	color:#fff;
}
/* |||||| FONT-AWESOME RE-THEMING |||| */
.fa{
	color:;
}
.fa-2nav{
	color:#777;
}
/* ||||||| BOOTSTRAP RE-THEMING |||||| */
.btn-success{
	background-color: #009550;
    border-color: #4cae4c;
}
.btn-success:hover{
	background-color: #33B44A;
}
.btn-danger{
	background-color: #C25555;
    border-color: #A14645;
}
.btn-danger:hover{
	background-color: #F15D56;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||| MAIN CONTAINERS STYLES ||||| */
/* ||||||||||||||||||||||||||||||||||| */

.message-center-regular{
	width: 60%;
    top: 10px;
    bottom: inherit;
    margin-left: 20%;
}
.message-box{
	-webkit-box-shadow: 0 0 12px #000;
    -moz-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    border:none;
}
.message-box.info{
	background: #aaa;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.pop_up_content{
	min-height:336px;
	position: relative;
    height: 60%;
}
.folder_listing{
	font-size: 16px !important;
}
.rule_container{
	width: 70%;
	height: 450px;
	position: relative;
	float: left;
	padding: 5px;
}
.rule_results_container{
	width: 30%;
	height: 450px;
	position: relative;
	float: left;
	padding: 5px;
}
.collection_header{
	color: #333;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	height:39px;
	z-index: 10;
	border-bottom: 1px solid #C7C9C7;
    margin: 0px 0px 4px 0px;
}
.small_themed_header_light{
	color: #676767;
    background: #D9D7D8;
    text-align: left;
    padding: 2px 0px 0px 15px;
    font-size: 16px;
    font-weight: normal;
    height: 25px;
    z-index: 10;
}
select{
	border:1px 
	solid #ccc;
	background:#fff;
	border-radius:1px;
}
.rule_results{
	background: #fff;
	border: 2px solid #D9D7D8;
	padding: 4px;
	width: 100%;
	height: 97%;
	overflow-wrap: break-word; 
}
.rule_output_param{
	border-bottom: 2px solid #C7C9C7;
	padding: 5px 10px;
}
.logout{
	color: #777;
	display: inline-block;
    padding: 5px;
    margin: 9px 0px 0px 0px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #AEAEB0;
}
.active_option{
	opacity: 0.8;
    pointer-events: auto;
    cursor: pointer;
}
.inactive_option{
	opacity: 0.1;
    pointer-events: none;
    cursor: default;
}
.logout:hover{
	background: #efefef;
}
.has_error{
	outline: 1px solid red;
}
.foot_note{
	font-size: 11px;
	color:#777;
}
.upload_container_result ul,.delete_container ul{
	height: 300px;
	overflow-y: scroll;
}
.spinning_wheel{
	display: none;
    position: absolute;
    color: #777;
    top: 10%;
    text-align: center;
    border-radius: 7px;
    border: 2px solid #999;
    background: #fff;
    width: 150px;
    height: 135px;
    padding: 35px 20px;
    z-index: 25;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 15px;
    margin-left: 50%;
    left: -75px;
}
.position-fixed{
	position: fixed;
	z-index: 100;
	display: none;
	color:#333;
	cursor: pointer;
	text-align: left;
}
.open{
	display: inline-block;
}
.beta_label{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:20;
	pointer-events:none;
	background: url('../images/beta2.png');
}
.app_container{
	height:100%;
}
.message_link{
	cursor: pointer;
}
.main_wrapper{
	padding:0px;
	width:100%;
	height:100%;
	position: relative;
	float: left;
	min-width: 1200px;
}
.four_column{
	padding: 5px;
	position: relative;
	float: left;
	width:80%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main_list{
	padding: 5px 5px 34px 5px;
}
.full_column{
	padding: 5px;
	position: relative;
	float: left;
	width:100%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.two_column{
	padding: 5px;
	position: relative;
	float: left;
	width:40%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.half_column{
	padding: 5px;
	position: relative;
	float: left;
	width:50%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.third_column{
	padding: 5px;
	position: relative;
	display: flex;
	width:33%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.third_column .btn{
	width:100%;
}
.three_column{
	padding: 5px;
	position: relative;
	margin: 0 auto;
	display: flex;
	width:65%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.one_column{
	padding: 5px;
	position: relative;
	float: left;
	width: 20%;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.one_column.mover{
	padding: 5px 0px 0px 0px;
}
.four_column.mover{
	padding: 5px 0px 5px 5px;
}
.one_column.copier{
	padding: 5px 0px 0px 0px;
}
.four_column.copier{
	padding: 5px 0px 5px 5px;
}
.q_column{
	width:33%;
	position: relative;
	display: inline-block;
	border-right:1px solid #C7C9C7;
}
.unactive_tab{
	color: #fff;
    background: #D9D7D8;
    border: 2px solid #D9D7D8;
    border-radius: 4px 4px 0px 0px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    cursor: default;
}
.breadcrumbs_container{
	position:relative;
	padding: 0px;
	width:100%;
}
.breadcrumbs_sub_container{
	white-space: nowrap;
	text-overflow:ellipsis;
	margin: 0px;
	padding: 0px;
}
#query_container{
	position: relative;
    float: left;
    clear: both;
    width: 565px;
}
.full_star, .empty_star{
	padding: 5px 0px 0px 0px;
}
.upload_button{
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.8;
	width: 75px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 33px;
	margin: 0px 5px;
}
.create_subcollection_button{
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.8;
	width: 150px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 21px;
	margin: 0px 5px;
}
.copier{
	display: none;
	padding: 5px;
}
.path_picker{
	display: none;
	padding: 5px;
}
.move_listing{
	max-height:289px;
	overflow-y:scroll;
}
.copy_listing{
	max-height:289px;
	overflow-y:scroll;
}
.copier_button{
	display: none;
}
.mover{
	display: none;
	padding: 5px;
}
.mover_button{
	display: none;
}
.uploader{
	display: none;
}
.deleter{
	display: none;
}
.creater{
	display: none;
}
.file_creater{
	display: none;
}
.renamer{
	display: none;
}
.metadata_adder{
	display: none;
}
.metadata_deleter{
	display: none;
}
.metadata_editor{
	display: none;
}
.metadata_button{
	padding: 4px 0px 0px 7px;
	border: 
}
.metadata_button img{
	padding: 0px 7px 0px 0px;
}
.small_vertical_divider{
	background: #fff;
	position:relative;
	display:inline-block;
	float: right;
	opacity: 0.5;
	width:1px;
	height: 21px;
}
.upload_container_result{
	display: none;
}
.empty_selection{
	color:#262626;
	font-weight: 400;
  	padding: 0px 0px 0px 10px;
}
.upload_button:hover{
	background: rgba(0,0,0,0.4);
	opacity:1;
}
.create_subcollection_button:hover{
	background: rgba(0,0,0,0.4);
	opacity:1;
}
.tablet_download_button{
	display: none;
}
.tablet_rename_button{
	display: none;
}
.save_button{
	opacity: 0.1;
	pointer-events:none;
}
.save_button_active{
	opacity: 1;
	pointer-events:auto;
}
.download_button,.rename_button{
	position:relative;
	float: right;
	opacity: 0.1;
	width: 87px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 26px;
	float:right;
	margin: 0px 5px;
	cursor: pointer;
	pointer-events:none;
}
.visible_button{
	position:relative;
	float: right;
	opacity: 0.8;
	width: 85px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 26px;
	margin: 0px 5px;
	cursor: pointer;
}
.visible_button_left{
	position:relative;
	float: left;
	opacity: 0.8;
	width: 85px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	height: 26px;
	margin: 0px 5px;
	cursor: pointer;
}
.download_button.context_button,.rename_button.context_button,.visible_button.context_button{
	margin: 0px;
	background: #fff;
	border: 0px;
	padding: 4px 8px 0px 5px;
	text-align: left;
	float: left;
	font-weight: normal;
	width: 100%;
	height: 31px;
	white-space: nowrap;
}
.download_button.context_button:hover,.rename_button.context_button:hover,.visible_button.context_button:hover{
	background: rgba(0,0,0,0.1);
	opacity:1;
}
.download_button:hover,.rename_button:hover,.visible_button:hover,.visible_button_left:hover{
	background: rgba(0,0,0,0.2);
	opacity:1;
}
.rename_divider{
	opacity: 0.1;
}
.download_divider{
	opacity: 0.1;
}
.single_action{
	opacity: 0.2;
	cursor: pointer;
	pointer-events:none;
}
.pop_up_close_clear_button{
	opacity: 0.5;
}
.pop_up_close_clear_button:hover{
	opacity: 1;
}
#profile_title_container{
	position:relative;
	display:inline-block;
	float: left;
}
.list_content{
	overflow: hidden;
	padding: 0px;
	height:20px;
	white-space: nowrap;
	text-overflow:ellipsis;
	display: inline-flex;
}
.list_content p {
	padding: 2px 5px;
}
.profile_description{
	position: relative;
	float: left;
	border-left: 1px solid #999;
	padding: 0px 10px;
	font-size: 12px;

}
.profile_image{
	position: relative;
	float: left;
	padding: 0px 10px 0px 3px;
}
.edit_header{
	position: relative;
	display: inline-block;
	width:100%;
	height:30px;
	border-bottom: 1px solid #C7C9C7;
	padding: 0px 0px 5px 0px ;
}
.profile_header{
	position: relative;
	display: inline-block;
	width:100%;
	border-bottom: 1px solid #C7C9C7;
	padding: 0px 0px 5px 0px ;
}
.edit_body{
	position: relative;
	display: inline-block;
	width:100%;
}
.dashboard_body{
	width: 100%;
    height: 250px;
    box-shadow: 0px 470px rgba(0,0,0,0.4) inset;
    background:url("../images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.green_title{
	color:#fff;
	height:20px;
	font-size: 14px;
	line-height: 14px;
}
.green_content{
	display: none;
	border-top:1px solid #999;
	font-size: 12px;
	width: 100%;
}
.pop_up_window{
	position:absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: none;
	background: rgba(0,0,0,0.8);
	z-index: 14;
}
.intro_screen{
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: 5;
	 background: #fff;
}
.intro_screen_ir{
	position: absolute;
	z-index: 3;
	width:100px;
}
.intro_screen_ir_white{
	position: absolute;
	z-index: 2;
	width:100px;
}
.intro_screen_ir_shadow{
	position: absolute;
	z-index: 1;
	width:100px;
}
.page_center{
	position: absolute;
	top:50%;
	left:50%;
	width: 1px;
	height: 1px;
}
.border_left{
	border-left: 1px solid #999;
}
.breadcrumbs_sub_container a{
	color: #555;
}
/* ||||||||||||||||||||||||||||||||||| */
/* ||||||| BOOTSTRAP RE-STYLING |||||| */
/* ||||||||||||||||||||||||||||||||||| */
input.col-xs-12{
	padding: 0px 2px;
}
.list-group{
	margin: 10px;
}
.col-xs-6, .col-xs-4{
	padding:0px;
}
.navbar-brand{
	padding: 7px 0px 0px 0px;
}

.list_group_header{
	pointer-events: none;
}
.btn-default{
	border-color: #888;
}
.dropdown{
	display: inline-block;
}

.dropdown-menu li a{
	color:#384B50;
}
.dropdown-menu li {
	cursor: pointer;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||||||| POSITIONING STYLES ||||||| */
/* ||||||||||||||||||||||||||||||||||| */
.centered{
	margin: 0 auto;
	float:none;
}
.right{
	position: relative;
	float: right;
	margin: 0px;
	padding: 0px;
}
.left{
	position: relative;
	float: left;
	margin: 0px 15px 10px 0px;
}
.just_right{
	position: relative;
	float: right;
}
.just_right.btn{
	margin:0px 5px;
}
.border_left{
    border-left: 2px solid rgba(255,255,255,0.5);
}
.left{
	position: relative;
	float: left;
}
.container{
	width: 100%;
	padding: 5px 0px 0px 0px;
	display: inline-block;
}
.t_right{
	text-align: right;
}
.hr_flat{
	margin: 0px;
}
/* ||||||||||||||||||||||||||||||||||| */
/* |||| BUTTONS AND OPTIONS STYLES ||| */
/* ||||||||||||||||||||||||||||||||||| */
.max_200{
	display: inline-block;
    max-width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.desktop_collection_actions{
	display: block;
}
.tablet_collection_actions{
	display: none;
}
.last_breadcrumb{
	display: inline-block;
}
.active_breadcrumb{
    color: #777;
    background: #fff;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #AEAEB0;
    padding: 6px 5px;
    margin: 0px 6px 0px 0px;
    height: 34px;
	max-width: 120px;
	overflow: hidden;
	text-overflow:ellipsis;
	display: inline-block;
}
.active_breadcrumb .caret{
    height:14px;
}
.active_breadcrumb:hover{
    background: #efefef;
}
.active_breadcrumb_text{
	max-width: 94px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.side_nav_option{
	color: #777;
	white-space: nowrap;
	cursor: pointer;
    border-bottom: 1px solid #AEAEB0;
    height: 34px;
    width:100%;
    padding:3px;
	overflow: hidden;
	text-overflow:ellipsis;
	display: inline-block;
}
.side_nav_option:hover{
	color: #fff;
}
.search_path{
	width: 84%;
    float: left;
    margin: 2px 10px 0px 0px;
}
.dark_back_option_double{
	color: #777;
    background: #D9D7D8;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #AEAEB0;
    padding: 6px 5px;
    margin: 0px 6px 0px 0px;
    height: 34px;
	max-width: 100px;
	overflow: hidden;
	text-overflow:ellipsis;
	display: inline-block;
}
.dark_back_option_double span{
	padding: 2px 7px;
	font-size: 14px;
	position: absolute;
}
.dark_back_option_double .dropdown-menu{
	margin: 0px;
	top:22px;
	left: -1px;
}
.dark_back_option_double img{
	padding: 0px 0px 0px 7px;
}
.dark_back_option_double:hover{
	color:#fff;
	opacity:1;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.dark_back_option_double.logout{
	color:#fff;
	opacity:0.7;
	height: 26px;
    padding: 0px 8px;
    margin: 12px 0px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	border: none;
}
.dark_back_option_double.logout:hover{
	color:#fff;
	opacity:1;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.light_back_option{
	color:#000;
	opacity:0.7;
	height:20px;
	font-size: 12px;
	width: 100%;
	white-space: nowrap;
    cursor: pointer;
	overflow: hidden;
	text-overflow:ellipsis;
}
.list_header{
	height: 25px;
    border-bottom: 1px solid #ddd;
    pointer-events: none;
}
.light_back_option_even{
	color:#000;
	background: rgba(0,0,0,0.1);
	opacity:0.7;
	height:20px;
	font-size: 12px;
	width: 100%;
}
.light_back_option span, .light_back_option_even span{
	padding: 0px 0px 4px 4px;
	cursor: pointer;
    display: inline-block;
}
.recent_query span{
	width: 100%;
}
.permanent_folder span{
	width: 100%;
	display:-moz-box;
}
.ui-widget-content.light_back_option, .ui-widget-content.light_back_option_even{
	cursor:pointer;
}
.dark_toggle_button{
	opacity:0.7;
	height:22px;
	width: 20px;
	cursor: pointer;
}
.dark_toggle_button:hover{
	opacity:1;
	width: 20px;
	cursor: pointer;
}
.light_header{
	color: #384B50;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height:27px;
	border-bottom:1px solid #C7C9C7; 
}
.light_big_header{
	color: #384B50;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height:32px;
	margin: 0px 0px 5px 0px;
	background: #fff;
	border-bottom:1px solid #C7C9C7; 
}
.delete_header{
	color: #C93C3C;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height:27px;
	border-bottom:1px solid #C7C9C7; 
}
#select-result{
	overflow: hidden;
    display: inherit;
    height: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
}
.deleter{
	display:none;
	padding: 5px 5px 39px 5px;
}
.query_deleter{
	display:none;
	padding: 5px 5px 39px 5px;
}
.copier_wrap{
	min-height:100px;
	height:100px;
}
.mover_wrap{
	min-height:100px;
	height:100px;
}
.light_header span{
	position: absolute;
	line-height: 19px;
	padding: 0px 3px;
}
.collection_actions_container{
	float:right;
	overflow: hidden;
	height: 22px;
	width:410px;
	z-index: 10;
    position: relative;
}
.selection_actions_container{
	float:right;
	height: 22px;
	width:685px;
	z-index: 10;
    position: relative;
}
.metadata_actions_container{
	float:right;
	height: 22px;
	width:580px;
	z-index: 10;
    position: relative;
}
.edit_actions_container{
	float:left;
	height: 22px;
	width:100%;
	z-index: 10;
    position: relative;
}
.grid-item { 
	float: left;
	width: 100px;
 	padding: 5px;
}
.tablet_appear{
	display: none;
}
.collapsed_nav{
	width:3%;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.uncollapsed_nav{
	width:18%;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* TO BE USED WHEN THE SIDE NAV BECOMES AVAILABLE
.collapsed_main_content{
	width:96.9%;
}*/
/******************************************************************************

                                 BEGIN MEDIA QUERIES

*******************************************************************************/
@media screen and (max-width: 1300px){

	.desktop_collection_actions{
		display: none;
	}
	.tablet_collection_actions{
		display: block;
	}
	.selection_actions_container{
		width: 200px;
	}

}

/* Small devices (tablets, 600px and up) */
@media screen and (max-width: 1200px){

/*.light_back_option{
	color:#000;
	opacity:0.5;
	height:30px;
	margin: 2px 0px;
	font-size: 15px;
	list-style: none;
}
.collection_actions_container{
	overflow: initial;
}
.list_content{
	height:25px;
}
.login_input{
	line-height: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome
.login_input select {
        height:40px;
        line-height:40px;
        background:#fff;
    } 
}
.login_input select::-moz-focus-inner { 
    padding: 0;
}
@-moz-document url-prefix() { 
.login_input select {
        padding: 15px 0!important;
    }
}
.light_back_option_even{
	color:#000;
	background: rgba(0,0,0,0.1);
	opacity:0.5;
	height:30px;
	margin: 2px 0px;
	font-size: 15px;
	list-style: none;
}*/
.main_wrapper{
	padding:0px;
	width:100%;
	position: relative;
	float: left;
	min-width: 1200px;
}
.collapsed_nav{
	width:52px;
}
.uncollapsed_nav{
	width:214px;
}
.uncollapsed_main_contents{
	margin:0px 0px 0px 52px;
}
.collapsed_main_contents{
	margin:0px 0px 0px 214px;
}
/*.collapsed_main_content{
	width:95.5%;
}*/
.collapsed_main_content{
	width:100%;
}
.uncollapsed_main_content{
	width:81.9%;
}

}











