<div class="pop_up_window">
	<div class="three_column centered">
		<div class="column_content uploader">
			<div class="light_header"><img src="images/upload_icon_dark.png"><span>Uploading files to {{pagingAwareCollectionListing.pagingAwareCollectionListingDescriptor.pathComponents[current_collection_index]}}</span><img class="pop_up_close_button right" title="close window" ng-click="pop_up_close()" src="images/close_icon.png"></div>
			
			<div class="upload_container">
				<br>
				Choose the file(s) you wish to upload to <b>THIS</b> collection.<br>
				<div class="btn btn-default btn-xs" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Browse Files</div> or Drag & Drop the file(s) into the green window <b>BELOW</b>.<br>
				<div ngf-drop ngf-select ng-model="files" class="drop_box" 
		        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
		        accept="image/*,application/pdf"><br>Drag and drop files here.</div>
			</div>
			<div class="upload_container_result">
				<ul></ul>
				<div class="container"><hr class="hr_flat"></div>
				<div class="right container t_right">
					<div class="btn btn-success" ng-click="pop_up_close()">Done</div>
				</div>
				<div class="container"><hr class="hr_flat"></div>
				<div class="container">You can also&nbsp;<div class="btn btn-default btn-xs" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Browse More Files</div> or Drag & Drop the file(s) into the window <b>BELOW</b>.<br>
				<div ngf-drop ngf-select ng-model="files" class="drop_box" 
		        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
		        accept="image/*,application/pdf"><br>Drag and drop files here.</div>
				</div>
			</div>
			
			
		</div>
		<div class="column_content deleter">
			<div class="delete_header"><img src="images/dark_delete_icon.png"><span>&nbsp;Are you sure you want to DELETE the following:</span><img class="pop_up_close_button right" title="close window" ng-click="pop_up_close()" src="images/close_icon.png"></div>
			
			<div class="delete_container">
				<br>
				<ul></ul>
				<div class="container"><hr class="hr_flat"></div>
				<div class="left">
					<div class="btn btn-default" ng-click="pop_up_close()">Cancel</div>
				</div>
				<div class="right t_right">
					Yes, I'm sure.&nbsp;<div class="btn btn-danger" ng-click="delete_action()">Delete</div>
				</div>
			</div>
		</div>

		<div class="column_content copier">
			<div class="light_header"><img src="images/dark_add_icon.png"><span>&nbsp;Copying</span><img class="pop_up_close_button right" title="close window" ng-click="pop_up_close()" src="images/close_icon.png"></div>
			
			<div class="copy_container">
				<ul></ul>								
			</div>
		</div>
		<div class="slim_column_content themed_header copier">
			Copy to:
		</div>
			<div class="one_column copier">
				<div class="column_content">
					<div class="light_header"><img src="images/saved_search_icon_dark.png"><span>Saved Searches</span></div>
					<ul >
					    <li ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="virtualCollection in copy_vc_list" ng-click="copy_list_refresh(virtualCollection.uniqueName,'')">
					            <img src="images/saved_search_icon.png"><span>{{virtualCollection.uniqueName}}</span>
					    </li>
					</ul>
				</div>
			</div>
			<div class="four_column copier">
				<div class="column_content">
					<ul class="selectable copy_listing">
			    			<li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} copy_list_item ui-selectee" ng-class-odd="'light_back_option'" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
				            <div class="col-xs-7 list_content">
					            <img ng-show="{{collectionAndDataObject.dataObject}} == false" src="images/collection_icon.png">
				            	<span class="collection_object" id='{{collectionAndDataObject.formattedAbsolutePath}}' ng-click="copy_list_refresh(copyVC,collectionAndDataObject.formattedAbsolutePath)">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
				            </div>
				            <div class="col-xs-3 list_content text-right">
				            	<p>{{collectionAndDataObject.modifiedAt}}</p>
				            </div>
				            <div class="col-xs-2 list_content text-right">
				            	<p ng-show="{{collectionAndDataObject.dataObject}} == true">{{collectionAndDataObject.displayDataSize}}</p>
				            </div>
					    </li>
					</ul>
				</div>
			</div>

		<div class="column_content creater">
			<div class="light_header"><img src="images/dark_add_icon.png"><span>&nbsp;Adding sub-collection to {{pagingAwareCollectionListing.pagingAwareCollectionListingDescriptor.pathComponents[current_collection_index]}}</span><img class="pop_up_close_button right" title="close window" ng-click="pop_up_close()" src="images/close_icon.png"></div>
			
			<div class="add_container">
				<br>
				<ul>
					<li><b>New collection name</b></li>
					<li><input type="text" id="new_collection_name" value=""/>
				</ul>
				<div class="container"><hr class="hr_flat"></div>
				<div class="left">
					<div class="btn btn-default" ng-click="pop_up_close()">Cancel</div>
				</div>
				<div class="right t_right">
					<div class="btn btn-success" ng-click="create_collection_action()">Create</div>
				</div>
			</div>
		</div>
		<div class="column_content renamer">
			<div class="light_header"><img src="images/dark_edit_icon.png"><span>&nbsp;Renaming</span><img class="pop_up_close_button right" title="close window" ng-click="pop_up_close()" src="images/close_icon.png"></div>
			
			<div class="rename_container">
				<br>
				<ul>
					<li >You are renaming <b><span class="selected_object"></span></b> to:</li>
					<li ><input type="text" id="new_renaming_name" value=""/>
					<li><span class="disc_text">*If you are renaming a DATA OBJECT please make sure to include the DATA OBJECT extension (i.e. sample<b>.txt</b>)</em></li>
				</ul>
				<div class="container"><hr class="hr_flat"></div>
				<div class="left">
					<div class="btn btn-default" ng-click="pop_up_close()">Cancel</div>
				</div>
				<div class="right t_right">
					<div class="btn btn-success" ng-click="rename_action()">Rename</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'side_nav.html'"></div>
<div id="main_contents"> 
	<div class="one_column">
		<div class="column_content">
			<div class="light_header"><img src="images/saved_search_icon_dark.png"><span>Saved Searches</span></div>
			<ul >
			    <li ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="virtualCollection in virtualCollections" ng-click="selectVirtualCollection(virtualCollection.uniqueName, '')">
			            <img src="images/saved_search_icon.png"><span>{{virtualCollection.uniqueName}}</span>
			    </li>
			</ul>
		</div>
	</div>
	<div class="four_column">
		<div class="column_content">
			<div class="dark_header"> 
				<div id="breadcrumbs_container" class="col-xs-10 col-sm-9 col-md-9 col-lg-7">
					<div class="breadcrumbs_sub_container" >
						<span class="dark_back_option_double" ng-click="goToBreadcrumb($index)" ng-repeat="breadcrumb in getBreadcrumbPaths() track by $id(breadcrumb + $index)">
							 /{{breadcrumb}} 				
						</span>		
					</div>			
				</div>		
				<div class="right col-xs-2 col-sm-3 col-md-3 col-lg-5">
					<div class="desktop_collection_actions">
						<div class="upload_button" title="Upload files to this collection" ng-click="upload_pop_up_open()"> 
							<img src="images/upload_icon.png"><span>&nbsp;Upload</span>	
						</div>
						<div class="small_vertical_divider"></div>
						<div class="upload_button" title="Go to Profile page of this collection" ng-click="selectProfile(pagingAwareCollectionListing.pagingAwareCollectionListingDescriptor.parentAbsolutePath)"> 
							<img src="images/collection_light_icon.png"><span>&nbsp;Profile</span>	
						</div>
						<div class="small_vertical_divider"></div>
						<div class="create_subcollection_button" title="Create a new sub-collection inside this collection" ng-click="create_pop_up_open()">
							<img src="images/add_icon.png"><span>&nbsp;Add sub-collection</span>	
						</div>
					</div>
					<div class="right btn-group tablet_collection_actions">
					  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Collection Actions <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu dropdown-menu-right">
					    <li><a title="Upload files to this collection" ng-click="upload_pop_up_open()"><img src="images/upload_icon_dark.png"><span>&nbsp;Upload</span></a></li>
					    <li><a title="Go to Profile page of this collection" ng-click="selectProfile(pagingAwareCollectionListing.pagingAwareCollectionListingDescriptor.parentAbsolutePath)"><img src="images/dark_collection_icon.png"><span>&nbsp;Profile</span></a></li>
					    <li><a title="Create a new sub-collection inside this collection" ng-click="create_pop_up_open()"><img src="images/dark_add_icon.png"><span>&nbsp;Add sub-collection</span></a></li>
					  </ul>
					</div>
				</div>		
			</div>
			<hr class="light_hr">
			<div class="dark_header">
				<div id="breadcrumbs_container" class="col-xs-10 col-sm-9 col-md-9 col-lg-5">
					<div class="breadcrumbs_sub_container" >
						<span>You've selected:</span>
						<span id="select-result">none</span>
					</div>
				</div>
				<div class="right col-xs-2 col-sm-3 col-md-3 col-lg-7">
					<div class="desktop_collection_actions">
						<div class="download_button" title="Delete selected file(s) " ng-click='delete_pop_up_open()' > 
							<img src="images/delete_icon.png"><span>&nbsp;Delete</span>	
						</div>
						<div class="rename_divider small_vertical_divider"></div>
						<div class="rename_button" title="Rename selected file/collection" ng-click='rename_pop_up_open()' > 
							<img src="images/edit_icon.png"><span>&nbsp;Rename</span>	
						</div>
						<div class="download_divider small_vertical_divider"></div>
						<div class="download_button" title="Copy selected file(s) " ng-click='copy_pop_up_open()' > 
							<img src="images/add_icon.png"><span>&nbsp;Copy</span>	
						</div>
						<div class="download_divider small_vertical_divider"></div>
						<div class="download_button" title="Download selected file(s) " ng-click='getDownloadLink()' > 
							<img src="images/download_icon.png"><span>&nbsp;Download</span>	
						</div>
					</div>
					<div class="right btn-group tablet_collection_actions">
					  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Selection Actions <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu dropdown-menu-right">
					  	<li class="empty_selection">Nothing is selected</li>
					    <li class="tablet_download_button"><a title="Download selected file(s) " ng-click='getDownloadLink()'><img src="images/dark_download_icon.png"><span>&nbsp;Download</span></a></li>
					    <li class="tablet_download_button"><a title="Copy selected file(s) " ng-click='copy_pop_up_open()'><img src="images/dark_add_icon.png"><span>&nbsp;Copy</span></a></li>
					  	<li class="tablet_rename_button"><a title="Rename selected file/collection" ng-click='rename_pop_up_open()'><img src="images/dark_edit_icon.png"><span>&nbsp;Rename</span></a></li>
					    <li class="tablet_download_button"><a title="Delete selected file(s) " ng-click='delete_pop_up_open()'><img src="images/dark_delete_icon.png"><span>&nbsp;Delete</span></a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="grid">
			  <div class="grid-item" ng-repeat="collectionAndDataObject in pagingAwareCollectionListing.collectionAndDataObjectListingEntries">		
			  <img src="images/irods_icon.png" width="100%">	  		
			  </div>
			</div>
		</div>
	</div>
	<div class="powered_by">
		<img src="images/powered_by_irods.png">
	</div>
</div>