<div class="pop_up_window">
  <div class="three_column centered">
    <div class="column_content uploader">
      <div class="light_header"><img src="images/upload_icon_dark.png"><span>Uploading files to {{dataProfile.childName}}</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="upload_container">
        <br>
        Choose the file(s) you wish to upload to <b>THIS</b> collection.<br>
        <div class="btn btn-default btn-xs" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Browse Files</div> or Drag & Drop the file(s) into the green window <b>BELOW</b>.<br>
        <div ngf-drop ngf-select ng-model="files" class="drop_box" 
            ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
            accept="image/*,application/pdf"><br>Drag and drop files here.</div>
      </div>
      <div class="upload_container_result">
        <ul></ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="right container t_right">
          <div class="btn btn-success" ng-click="pop_up_close_clear()">Done</div>
        </div>
        <div class="container"><hr class="hr_flat"></div>
        <div class="container">You can also&nbsp;<div class="btn btn-default btn-xs" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Browse More Files</div> or Drag & Drop the file(s) into the window <b>BELOW</b>.<br>
        <div ngf-drop ngf-select ng-model="files" class="drop_box" 
            ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
            accept="image/*,application/pdf"><br>Drag and drop files here.</div>
        </div>
      </div>  
    </div>
    <div class="column_content renamer">
      <div class="light_header"><img src="images/dark_edit_icon.png"><span>&nbsp;Renaming</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="rename_container">
        <br>
        <ul>
          <li >You are renaming <b><span class="selected_object">{{dataProfile.childName}}</span></b> to:</li>
          <li ><input type="text" id="new_renaming_name" value=""/>
          <li><span class="disc_text">*If you are renaming a DATA OBJECT please make sure to include the DATA OBJECT extension (i.e. sample<b>.txt</b>)</em></li>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="rename_action()">Rename</div>
        </div>
      </div>
    </div>

    <div class="column_content metadata_adder">
      <div class="light_header"><img src="images/dark_add_icon.png"><span>&nbsp;Metadata: ADD</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="metadata_add_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          <li ><b>Attribute</b></li>
          <li ><input type="text" id="new_metadata_attribute" class="col-xs-12" value=""/>
          <li ><b>Value</b></li>
          <li ><input type="text" id="new_metadata_value" class="col-xs-12" value=""/>
          <li ><b>Unit</b></li>
          <li ><input type="text" id="new_metadata_unit" class="col-xs-12" value=""/>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="metadata_add_action()">Add</div>
        </div>
      </div>
    </div>

    <div class="column_content metadata_deleter">
      <div class="delete_header"><img src="images/dark_delete_icon.png"><span>&nbsp;Metadata: DELETE</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="metadata_delete_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-danger" ng-click="metadata_delete_action()">DELETE</div>
        </div>
      </div>
    </div>

    <div class="column_content metadata_editor">
      <div class="light_header"><img src="images/dark_edit_icon.png"><span>&nbsp;Metadata: Edit</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="metadata_add_container col-xs-10 col-xs-offset-1">
        <br>
        <ul>
          <li ><b>Attribute</b></li>
          <li ><input type="text" id="edit_metadata_attribute" class="col-xs-12" value=""/>
          <li ><b>Value</b></li>
          <li ><input type="text" id="edit_metadata_value" class="col-xs-12" value=""/>
          <li ><b>Unit</b></li>
          <li ><input type="text" id="edit_metadata_unit" class="col-xs-12" value=""/>
        </ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          <div class="btn btn-success" ng-click="metadata_edit_action()">Edit</div>
        </div>
      </div>
    </div>
    
    <div class="column_content deleter">
      <div class="delete_header"><img src="images/dark_delete_icon.png"><span>&nbsp;Are you sure you want to DELETE the following:</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="delete_container">
        <br>
        <ul></ul>
        <div class="container"><hr class="hr_flat"></div>
        <div class="left">
          <div class="btn btn-default" ng-click="pop_up_close_clear()">Cancel</div>
        </div>
        <div class="right t_right">
          Yes, I'm sure.&nbsp;<div class="btn btn-danger" ng-click="delete_action()">Delete</div>
        </div>
      </div>
    </div>
    <div class="column_content copier copier_wrap">
      <div class="light_header"><img src="images/dark_copy_icon.png"><span>&nbsp;Copying</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="copy_container">
        <ul></ul>               
      </div>
    </div>
    <div class="slim_column_content themed_header copier">
      
      <span>Copy to:</span>
      <span id="copy_select_result">none</span>
    </div>
      <div class="one_column copier">
        <div class="column_content">
          <div class="light_header"><img src="images/saved_search_icon_dark.png"><span>Saved Searches</span></div>
          <ul >
              <li ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="virtualCollection in copy_vc_list" ng-click="copy_list_refresh(virtualCollection.uniqueName,'')">
                      <img src="images/saved_search_icon.png"><span>{{virtualCollection.uniqueName}}</span>
              </li>
          </ul>
        </div>
      </div>
      <div class="four_column copier">
        <div class="column_content">
          <ul class="selectable copy_listing">
                <li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} copy_list_item ui-selectee" ng-class-odd="'light_back_option'" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
                    <div class="col-xs-7 list_content">
                      <img ng-show="{{collectionAndDataObject.dataObject}} == false" src="images/collection_icon.png">
                      <span class="collection_object" id='{{collectionAndDataObject.formattedAbsolutePath}}' ng-click="copy_list_refresh(copyVC,collectionAndDataObject.formattedAbsolutePath)">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
                    </div>
                    <div class="col-xs-3 list_content text-right">
                      <p>{{collectionAndDataObject.modifiedAt}}</p>
                    </div>
                    <div class="col-xs-2 list_content text-right">
                      <p ng-show="{{collectionAndDataObject.dataObject}} == true">{{collectionAndDataObject.displayDataSize}}</p>
                    </div>
              </li>
          </ul>
        </div>
      </div>
      <div class="right t_right">
        <div class="btn btn-success copier_button" ng-click="copy_action()">Copy</div>
      </div>


      <div class="column_content mover mover_wrap">
      <div class="light_header"><img src="images/dark_move_icon.png"><span>&nbsp;Moving</span><img class="pop_up_close_clear_button right" title="close window" ng-click="pop_up_close_clear()" src="images/close_icon.png"></div>
      
      <div class="move_container">
        <ul></ul>               
      </div>
    </div>
    <div class="slim_column_content themed_header mover">
      
      <span>Move to:</span>
      <span id="move_select_result">none</span>
    </div>
      <div class="one_column mover">
        <div class="column_content">
          <div class="light_header"><img src="images/saved_search_icon_dark.png"><span>Saved Searches</span></div>
          <ul >
              <li ng-class-odd="'light_back_option'" ng-class-even="'light_back_option_even'" ng-repeat="virtualCollection in copy_vc_list" ng-click="copy_list_refresh(virtualCollection.uniqueName,'')">
                      <img src="images/saved_search_icon.png"><span>{{virtualCollection.uniqueName}}</span>
              </li>
          </ul>
        </div>
      </div>
      <div class="four_column mover">
        <div class="column_content">
          <ul class="selectable move_listing">
                <li class="ui-widget-content data_{{collectionAndDataObject.dataObject}} move_list_item ui-selectee" ng-class-odd="'light_back_option'" ng-show="{{collectionAndDataObject.dataObject}} == false" ng-class-even="'light_back_option_even'" ng-repeat="collectionAndDataObject in copy_list.collectionAndDataObjectListingEntries" id='{{collectionAndDataObject.formattedAbsolutePath}}' on-last-repeat>
                    <div class="col-xs-7 list_content">
                      <img ng-show="{{collectionAndDataObject.dataObject}} == false" src="images/collection_icon.png">
                      <span class="collection_object" id='{{collectionAndDataObject.formattedAbsolutePath}}' ng-click="copy_list_refresh(copyVC,collectionAndDataObject.formattedAbsolutePath)">{{collectionAndDataObject.nodeLabelDisplayValue}}</span>
                    </div>
                    <div class="col-xs-3 list_content text-right">
                      <p>{{collectionAndDataObject.modifiedAt}}</p>
                    </div>
                    <div class="col-xs-2 list_content text-right">
                      <p ng-show="{{collectionAndDataObject.dataObject}} == true">{{collectionAndDataObject.displayDataSize}}</p>
                    </div>
              </li>
          </ul>
        </div>
      </div>
      <div class="right t_right">
        <div class="btn btn-success mover_button" ng-click="move_action()">Move</div>
      </div>

  </div>
</div>