<div id="side_nav" class="one_column collapsed_nav" ng-mouseover="side_nav_autotoggle('on')" ng-mouseleave="side_nav_autotoggle('off')">
		
	<div class="side_nav_toggle_button" ng-click="side_nav_toggle()" title="Expand Main Nav"><i class="fa fa-bars fa-lg fa-2nav"></i></div>
	<ul >
		<!-- <li ng-click="selectDashboardView()" class="side_nav_option" title="My Dashboard View"><i class="fa fa-tachometer fa-2x"></i>&nbsp;<span class="side_nav_options">My Dashboard</span></li> -->
		<li ng-click="selectSearchView()" class="side_nav_option" title="Search Files/Folders"><i class="fa fa-search fa-2x fa-2nav"></i>&nbsp;<span class="side_nav_options">Search</span></li>
		<li ng-click="selectHierView()" class="side_nav_option" title="Browse Files/Folders"><i class="fa fa-folder-open fa-2x fa-2nav"></i>&nbsp;<span class="side_nav_options">Browse</span></li>		
	</ul>
</div>